_out
.git
# Dependencies
node_modules
__pycache__
venv
.venv
docs/node_modules
docs/__pycache__
docs/venv
docs/.venv

# Build files
build
site
docs/build
docs/site

# Distribution files
dist
mkdocs_material.egg-info
docs/dist
docs/mkdocs_material.egg-info

# Caches and logs
*.cpuprofile
*.log
*.tsbuildinfo
.cache
.eslintcache
__pycache__
docs/.cache
docs/.eslintcache
docs/__pycache__

# Examples
example
example.zip
docs/example
docs/example.zip

# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Never ignore .gitkeep files
!**/.gitkeep

# macOS internals
.DS_Store

# Temporary files
TODO
tmp
docs/TODO
docs/tmp

# IDEs & Editors
.idea
*~
docs/.idea
docs/*~
minio